body{
    background: radial-gradient(#ffffff, #ef9a9a, #ff0000);

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav img{
    max-height: 50px;
    max-width: 50px;

    position: absolute;
    top: 5px;
    right: 5px;
}

section{
    height: 100vh;
    
    font-family: 'Lucida Handwriting' , 'Apple Chancery' , 'Brush Script';
    font-size: 75px;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #008000;
    
}

section #box1{
    display: flex;
}

section #box2{
    display: flex;
    transform: scale(2);
}

section .box{
    display: none;
}

@media only screen and (max-width: 600px){
    section{
        font-size: 50px;
    }
}